version: "3.7"
services:
  app:
    container_name: app
    image: $RAILS_IMAGE
    volumes:
      - /mnt/stateful_partition/cloudsql:/cloudsql
      - /mnt/stateful_partition/log/rails:${RAILS_APP_PATH}/log
    environment:
      TZ: Asia/Tokyo
    depends_on:
      - fluentd-gce
    logging:
      driver: json-file
      options: &logging-options
        max-size: "10m"
        max-file: "3"
    restart: always
  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /mnt/stateful_partition/nginx:/var/log/nginx
      - "letsencrypt:/etc/letsencrypt:ro"
      - "${CONFIG_PATH}/nginx/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "${CONFIG_PATH}/nginx/conf.d:/etc/nginx/conf.d:ro"
    environment:
      TZ: Asia/Tokyo
    depends_on:
      - fluentd-gcp
    logging:
      driver: json-file
      options: *logging-options
    restart: always
  gce-proxy:
    container_name: gce-proxy
    image: gcr.io/cloudsql-docker/gce-proxy:1.11
    command: /cloud_sql_proxy -dir=/cloudsql -instances=${INSTANCE_CONNECTION_NAME}
    volumes:
      - /mnt/stateful_partition/cloudsql:/cloudsql
    environment:
      TZ: Asia/Tokyo
    restart: always
  fluentd-gce:
    container_name: fluentd-gce
    image: fluent-gce:latest
    volumes:
      - "${CONFIG_PATH}/fluent/config.d:/fluentd/etc/config.d"
      - /mnt/stateful_partition/nginx:/var/log/nginx
      - /mnt/stateful_partition/log/rails:/var/log/rails
    environment:
      TZ: Asia/Tokyo
    restart: always

volumes:
  letsencrypt:
    external: true
